# TLS client certificate request
[default]

[ req ]
default_bits            = 4096                  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = rsa3-sha256           # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = email_dn              # DN template
req_extensions          = email_reqext          # Desired extensions

[ email_dn ]
countryName             = Germany
stateOrProvinceName     = Bavaria
localityName            = Strunzenoed
organizationName        = Example
organizationalUnitName  = II
commonName              = John Doe
emailAddress            = john.doe@example.com

[ email_reqext ]
keyUsage                = critical,nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage        = emailProtection
subjectKeyIdentifier    = hash
subjectAltName          = email:copy
