# TLS certificate request for AVM FritzBox
[ default ]
FBSAN = DNS:fritz.box,DNS:www.fritz.box,DNS:myfritz.box,DNS:www.myfritz.box,DNS:fritz.nas,DNS:www.fritz.nas

[ req ]
default_bits            = 4096                  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = sha512                # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = fritzbox_dn           # DN template
req_extensions          = fritzbox_reqext       # Desired extensions

[ fritzbox_dn ]
countryName             = DE
stateOrProvinceName     = Bayern
localityName            = Erlangen
organizationName        = HomeBase
organizationalUnitName  = HomeBase PKI
commonName              = fritz.box

[ fritzbox_reqext ]
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = clientAuth,serverAuth
subjectKeyIdentifier    = hash
subjectAltName          = ${FBSAN},${ENV::SAN}
