[ default ]
ca                      = root-ca               # Current CA name
dir                     = ca                    # Top dir
base_url                = ${ENV::PKIURL}        # CA base URL
aia_url                 = $base_url/$ca.cer     # CA certificate URL
crl_url                 = $base_url/$ca.crl     # CRL distribution point
name_opt                = ca_default            # Subject name display option
cert_opt                = ca_default            # Certificate display option
default_md              = ${ENV::DEFAULT_MD}    # default MD to use

# CA certificate request

[ req ]
default_bits            = ${ENV::DEFAULT_BITS}  # RSA key size
encrypt_key             = yes                   # Protect private key
default_md              = $default_md           # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Don't prompt for DN
distinguished_name      = common_dn             # DN section
req_extensions          = common_ca_ext         # Desired extensions

[ common_dn ]
countryName             = ${ENV::DN_C}
stateOrProvinceName     = ${ENV::DN_ST}
localityName            = ${ENV::DN_L}
organizationName        = ${ENV::DN_O}
organizationalUnitName  = ${ENV::DN_OU}
commonName              = ${ENV::DN_O} Root CA

[ common_ca_ext ]
keyUsage                = critical,keyCertSign,cRLSign
basicConstraints        = critical,CA:true
subjectKeyIdentifier    = hash

# CA operational settings

[ ca ]
default_ca              = root_ca

[ root_ca ]
certificate             = $dir/certs/$ca.crt    # The CA cert
private_key             = $dir/private/$ca.key  # CA private key
new_certs_dir           = $dir/new              # Certificate archive
serial                  = $dir/db/$ca.crt.srl   # Serial number file
crlnumber               = $dir/db/$ca.crl.srl   # CRL number file
database                = $dir/db/$ca.db        # Index file
unique_subject          = yes                   # Require unique subject
default_days            = 3652                  # How long to certify for
default_md              = $default_md           # MD to use
policy                  = match_pol             # Default naming policy
email_in_dn             = no                    # Add email to cert DN
preserve                = no                    # Keep passed DN ordering
name_opt                = $name_opt             # Subject DN display options
cert_opt                = $cert_opt             # Certificate display options
copy_extensions         = none                  # Copy extensions from CSR
x509_extensions         = intermediate_ca_ext   # Default cert extensions
default_crl_days        = 30                    # How long before next CRL
crl_extensions          = crl_ext               # CRL extensions

[ match_pol ]
countryName             = match
stateOrProvinceName     = optional
localityName            = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied

# X509 Extensions

[ root_ca_ext ]
keyUsage                = critical,keyCertSign,cRLSign
basicConstraints        = critical,CA:true
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always

[ intermediate_ca_ext ]
keyUsage                = critical,keyCertSign,cRLSign
basicConstraints        = critical,CA:true
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
authorityInfoAccess     = @issuer_info
crlDistributionPoints   = @crl_info

[ crl_ext ]
authorityKeyIdentifier  = keyid:always
authorityInfoAccess     = @issuer_info

[ issuer_info ]
caIssuers;URI.0         = $aia_url

[ crl_info ]
URI.0                   = $crl_url
