# TLS server certificate request
[ default ]
CN                      = ${ENV::HOSTNAME}
SAN                     = DNS:${CN}

[ req ]
default_bits            = 4096                  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = sha512                # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = server_dn             # DN template
req_extensions          = server_reqext         # Desired extensions

[ server_dn ]
countryName             = DE
stateOrProvinceName     = Bayern
localityName            = Erlangen
organizationName        = HomeBase
organizationalUnitName  = HomeBase PKI
commonName              = ${ENV::CN}

[ server_reqext ]
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = clientAuth,serverAuth
subjectKeyIdentifier    = hash
subjectAltName          = ${ENV::SAN}
