# TLS certificate request for AVM FritzBox
[ default ]
CN                      = wsroikgniugb7373e4t4.myfritz.net

[ req ]
default_bits            = ${ENV::DEFAULT_BITS}  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = ${ENV::DEFAULT_MD}    # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = fritzbox_dn           # DN template
req_extensions          = fritzbox_reqext       # Desired extensions

[ fritzbox_dn ]
countryName             = ${ENV::DN_C}
stateOrProvinceName     = ${ENV::DN_ST}
localityName            = ${ENV::DN_L}
organizationName        = ${ENV::DN_O}
organizationalUnitName  = ${ENV::DN_OU}
commonName              = ${CN}

[ fritzbox_reqext ]
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = clientAuth,serverAuth
subjectKeyIdentifier    = hash
subjectAltName          = @fritzbox_san
tlsfeature              = status_request

[ fritzbox_san ]
DNS.0                   = ${CN}
DNS.1                   = fritz.box
DNS.2                   = www.fritz.box
DNS.3                   = myfritz.box
DNS.4                   = www.myfritz.box
DNS.5                   = MosEisley
DNS.6                   = fritz.nas
DNS.7                   = www.fritz.nas
IP.0                    = 10.0.0.1
