# TLS client certificate request
[default]
SAN                     = email:${ENV::EMAIL}

[ req ]
default_bits            = ${ENV::DEFAULT_BITS}  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = ${ENV::DEFAULT_MD}    # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = email_dn              # DN template
req_extensions          = email_reqext          # Desired extensions

[ email_dn ]
countryName             = ${ENV::DN_C}
stateOrProvinceName     = ${ENV::DN_ST}
localityName            = ${ENV::DN_L}
organizationName        = ${ENV::DN_O}
organizationalUnitName  = ${ENV::DN_OU}
commonName              = ${ENV::CN}
emailAddress            = ${ENV::EMAIL}

[ email_reqext ]
keyUsage                = critical,nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage        = emailProtection
subjectKeyIdentifier    = hash
subjectAltName          = ${ENV::SAN}
